
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aurelia</title>
</head>
<body>
    <div aurelia-app="main"> 
    </div>
    <script src="~/Aurelia/scripts/vendor-bundle.js" data-main="aurelia-bootstrapper"></script>    
</body>
</html>
